<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>h1 Music Production | About</title>
    <!-- Reset -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/hqr4yak.css">
    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/aboutstyles.css">
</head>

<body>

    <header>
        <div id="nav">
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/music">Music</a>
                <a href="/store">Store</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
        <div id="img">
            <a href="./index.html"><img src="./assets/images/h1logodark.png" alt=""></a>
        </div>
    </header>

    <div id="banner">
        <h2>About</h2>
    </div>

    <main>

        <div id="content">

            <div class="subtitle">
                <h2>Music and Computers</h2>
                <hr>
            </div>

            <div class="paragraphs">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae autem blanditiis, cum vitae
                    perferendis asperiores. Vero, nobis odit? Quisquam nesciunt accusantium adipisci saepe obcaecati
                    natus
                    vero aspernatur soluta inventore? Modi perferendis repellat, sed porro facilis minima aliquam
                    possimus
                    facere provident illo voluptate eveniet voluptatibus. Dignissimos libero minima quas consequatur
                    sequi.
                </p>
            </div>

            <img src="./assets/images/sf.JPEG" alt="Image of Wally in front of a scenic lake.">

            <div class="paragraphs">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos sapiente ducimus, reiciendis maiores
                    ipsum velit nesciunt eligendi accusamus dolore. Dolor veniam quae dolorem, ducimus reprehenderit
                    corporis vero ipsum deserunt earum nesciunt sint nam illo fugiat nobis sunt! Aut obcaecati quisquam
                    eum suscipit, unde aliquam accusamus ex velit quas fugiat voluptatibus inventore ratione hic veniam
                    vero rem id fuga facere blanditiis mollitia nisi enim tempora. Quisquam enim expedita omnis magni?
                    Voluptas repudiandae quas nihil rerum eaque?</p>
            </div>


            <div class="subtitle">
                <h2>My Musical Skills</h2>
                <hr>
            </div>

            <div class="paragraphs">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae autem blanditiis, cum vitae
                    perferendis asperiores. Vero, nobis odit? Quisquam nesciunt accusantium adipisci saepe obcaecati
                    natus
                    vero aspernatur soluta inventore? Modi perferendis repellat, sed porro facilis minima aliquam
                    possimus
                    facere provident illo voluptate eveniet voluptatibus. Dignissimos libero minima quas consequatur
                    sequi.
                </p>
            </div>

        </div>

    </main>

    <footer>
        <div id="nav">
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/music">Music</a>
                <a href="/store">Store</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
        <div id="img">
            <a href="./index.html"><img src="./assets/images/h1logodark.png" alt=""></a>
        </div>
    </footer>
</body>