<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>h1 Music Production | Home</title>
    <!-- Reset -->
    <link rel="stylesheet" href="./assets/styleshsheets/reset.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/hqr4yak.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="./assets/styleshsheets/styles.css">
    <link rel="stylesheet" href="./assets/styleshsheets/homestyles.css">
</head>

<body>

    <header>
        <div id="nav">
            <button id="show-links">
                <div></div>
                <div></div>
                <div></div>
            </button>
            <nav>
                <div id="nav-links">
                    <a href="./index.html">Home</a>
                    <a href="./about.html">About</a>
                    <a href="./music.html">Music</a>
                    <a href="./shop.html">Store</a>
                    <a href="./contact.html">Contact</a>
                </div>
            </nav>
        </div>
        <div id="img">
            <a href="./index.html"><img id="logo" src="./assets/images/h1logodark.png" alt=""></a>
        </div>
    </header>

    <div id="banner">
        <h2>HOME</h2>
    </div>

    <main>

        <aside>
            <div class="link-card">
                <a href="">Release</a>
            </div>
            <div class="link-card">
                <a href="">Release</a>
            </div>
            <div class="link-card">
                <a href="">Release</a>
            </div>
            <div class="link-card">
                <a href="">Release</a>
            </div>
            <div class="link-card">
                <a href="">Release</a>
            </div>
            <div class="link-card">
                <a href="">Release</a>
            </div>
        </aside>

        <div id="primary">

            <div class="content-card">
                <div class="content-title">
                    <h2><a href="">Release 1</a></h2>
                </div>
                <div class="card-content">
                    <img src="./assets/images/release1.jpg"
                        alt="An image of a performer holding a mic with four fingers to the air.">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam incidunt cum reiciendis libero
                        reprehenderit hic iste ex. Molestiae ullam sed, harum corporis consectetur quidem nemo modi
                        porro
                        asperiores dolorem non.
                        Deserunt nostrum cupiditate voluptatum fugit dolorum veniam sequi sit? Omnis doloremque
                        molestias,
                        obcaecati quaerat harum deleniti tempora eius consequuntur, asperiores corrupti sit ab atque
                        soluta,
                        aliquam eaque! Exercitationem, distinctio a.
                        Odit pariatur, eaque quo incidunt, doloribus cupiditate non praesentium tenetur doloremque
                        corrupti
                        unde</p>
                </div>
            </div>

            <div class="content-card" id="last-card">
                <div class="content-title">
                    <h2><a href="">Release 2</a></h2>
                </div>
                <div class="card-content">
                    <img src="./assets/images/release2.jpg" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam incidunt cum reiciendis libero
                        reprehenderit hic iste ex. Molestiae ullam sed, harum corporis consectetur quidem nemo modi
                        porro
                        asperiores dolorem non.
                        Deserunt nostrum cupiditate voluptatum fugit dolorum veniam sequi sit? Omnis doloremque
                        molestias,
                        obcaecati quaerat harum deleniti tempora eius consequuntur, asperiores corrupti sit ab atque
                        soluta,
                        aliquam eaque! Exercitationem, distinctio a.
                        Odit pariatur, eaque quo incidunt, doloribus cupiditate non praesentium tenetur doloremque
                        corrupti
                        unde</p>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div id="nav">
            <nav>
                <div id="footer-nav-links">
                    <a href="./index.html">Home</a>
                    <a href="./about.html">About</a>
                    <a href="./music.html">Music</a>
                    <a href="./store.html">Store</a>
                    <a href="./contact.html">Contact</a>
                </div>
            </nav>
            <button id="footer-show-links">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </div>
        <div id="img">
            <a href="./index.html"><img src="./assets/images/h1logodark.png" alt=""></a>
        </div>
    </footer>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- Scripts -->
    <script src="./assets/scripts/scripts.js"></script>

</body>

</html>