<div id="banner">
    <h2>HOME</h2>
</div>

<main>

    <aside>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
    </aside>

    <div id="primary">

        <div class="content-card">
            <div class="content-title">
                <h2><a href="">Release 1</a></h2>
            </div>
            <div class="card-content">
                <img src="./assets/images/release1.jpg"
                    alt="An image of a performer holding a mic with four fingers to the air.">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam incidunt cum reiciendis libero
                    reprehenderit hic iste ex. Molestiae ullam sed, harum corporis consectetur quidem nemo modi
                    porro
                    asperiores dolorem non.
                    Deserunt nostrum cupiditate voluptatum fugit dolorum veniam sequi sit? Omnis doloremque
                    molestias,
                    obcaecati quaerat harum deleniti tempora eius consequuntur, asperiores corrupti sit ab atque
                    soluta,
                    aliquam eaque! Exercitationem, distinctio a.
                    Odit pariatur, eaque quo incidunt, doloribus cupiditate non praesentium tenetur doloremque
                    corrupti
                    unde</p>
            </div>
        </div>

        <div class="content-card" id="last-card">
            <div class="content-title">
                <h2><a href="">Release 2</a></h2>
            </div>
            <div class="card-content">
                <img src="./assets/images/release2.jpg" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam incidunt cum reiciendis libero
                    reprehenderit hic iste ex. Molestiae ullam sed, harum corporis consectetur quidem nemo modi
                    porro
                    asperiores dolorem non.
                    Deserunt nostrum cupiditate voluptatum fugit dolorum veniam sequi sit? Omnis doloremque
                    molestias,
                    obcaecati quaerat harum deleniti tempora eius consequuntur, asperiores corrupti sit ab atque
                    soluta,
                    aliquam eaque! Exercitationem, distinctio a.
                    Odit pariatur, eaque quo incidunt, doloribus cupiditate non praesentium tenetur doloremque
                    corrupti
                    unde</p>
            </div>
        </div>

    </div>

</main>

<footer>
    <div id="nav">
        <nav>
            <div id="footer-nav-links">
                <a href="./index.html">Home</a>
                <a href="./about.html">About</a>
                <a href="./music.html">Music</a>
                <a href="./store.html">Store</a>
                <a href="./contact.html">Contact</a>
            </div>
        </nav>
        <button id="footer-show-links">
            <div></div>
            <div></div>
            <div></div>
        </button>
    </div>
    <div id="img">
        <a href="./index.html"><img src="./assets/images/h1logodark.png" alt=""></a>
    </div>
</footer>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<!-- Scripts -->
<script src="./assets/scripts/scripts.js"></script>