<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>h1 Music Production | Music</title>
    <!-- Reset -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/hqr4yak.css">
    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/homestyles.css">
</head>

<body>

    <header>
        <div id="nav">
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/music">Music</a>
                <a href="/shop">Store</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
        <div id="img">
            <a href="./index.html"><img src="./assets/images/h1logodark.png" alt=""></a>
        </div>
    </header>

    <div id="banner">
        <h2>Music</h2>
    </div>

    <main>

        <div id="primary">

            <div class="content-card">
                <div class="content-title">
                    <h2><a href="">Release 1</a></h2>
                </div>
                <div class="card-content">
                    <img src="./assets/images/release1.jpg"
                        alt="An image of a performer holding a mic with four fingers to the air.">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam incidunt cum reiciendis libero
                        reprehenderit hic iste ex. Molestiae ullam sed, harum corporis consectetur quidem nemo modi
                        porro
                        asperiores dolorem non.
                        Deserunt nostrum cupiditate voluptatum fugit dolorum veniam sequi sit? Omnis doloremque
                        molestias,
                        obcaecati quaerat harum deleniti tempora eius consequuntur, asperiores corrupti sit ab atque
                        soluta,
                        aliquam eaque! Exercitationem, distinctio a.
                        Odit pariatur, eaque quo incidunt, doloribus cupiditate non praesentium tenetur doloremque
                        corrupti
                        unde</p>
                </div>
            </div>

            <div class="content-card" id="last-card">
                <div class="content-title">
                    <h2><a href="">Release 2</a></h2>
                </div>
                <div class="card-content">
                    <img src="./assets/images/release2.jpg" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam incidunt cum reiciendis libero
                        reprehenderit hic iste ex. Molestiae ullam sed, harum corporis consectetur quidem nemo modi
                        porro
                        asperiores dolorem non.
                        Deserunt nostrum cupiditate voluptatum fugit dolorum veniam sequi sit? Omnis doloremque
                        molestias,
                        obcaecati quaerat harum deleniti tempora eius consequuntur, asperiores corrupti sit ab atque
                        soluta,
                        aliquam eaque! Exercitationem, distinctio a.
                        Odit pariatur, eaque quo incidunt, doloribus cupiditate non praesentium tenetur doloremque
                        corrupti
                        unde</p>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div id="nav">
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/music">Music</a>
                <a href="/shop">Store</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
        <div id="img">
            <a href="./index.html"><img src="./assets/images/h1logodark.png" alt=""></a>
        </div>
    </footer>

</body>