<header>
    <div id="nav">
        <nav>
            <a href="./index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./music.html">Music</a>
            <a href="./shop.html">Store</a>
            <a href="./contact.html">Contact</a>
        </nav>
    </div>
    <div id="img">
        <a href="./index.html"><img src="./assets/images/h1logodark.png" alt=""></a>
    </div>
</header>

<div id="banner">
    <h2>Shop</h2>
</div>

<main>

    <aside>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
        <div class="link-card">
            <a href="">Release</a>
        </div>
    </aside>

    <div class="cards">

        <div class="card" id="card-one">
            <img class="card-image" src="./assets/images/shop-beat-card.png" alt="">
            <h2 class="card-title">Instrumentals</h2>
            <p class="card-description">We'll make instrumentals for your own music. Trap, Hip-Hop, R&B, and more!
            </p>
        </div>

        <div class="card" id="card-two">
            <img class="card-image" src="./assets/images/shop-mastering-card.png" alt="">
            <h2 class="card-title">Mixing and Mastering Services</h2>
            <p class="card-description">We'll help you achieve the perfect mix and get your track platform ready.
            </p>
        </div>

        <div class="card" id="card-three">
            <img class="card-image" src="./assets/images/shop-promo-card.png" alt="">
            <h2 class="card-title">Distribtion and Marketing Services</h2>
            <p class="card-description">We'll get your track on the mainstream platforms, create promotional
                material, and more!</p>
        </div>

        <div class="card" id="card-four">
            <img class="card-image" src="./assets/images/shop-lesson-card.png" alt="">
            <h2 class="card-title">Music Production Lessons</h2>
            <p class="card-description">We'll teach you the ins-and-outs of music production.</p>
        </div>

    </div>

</main>

<footer>
    <div id="nav">
        <nav>
            <a href="./index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./music.html">Music</a>
            <a href="./store.html">Store</a>
            <a href="./contact.html">Contact</a>
        </nav>
    </div>
    <div id="img">
        <a href="./index.html"><img src="./assets/images/h1logodark.png" alt=""></a>
    </div>
</footer>